.tableheader {
    th {
        color: purple;
        font-size: 20px;
    }
    tr {
        color: green;
        font-size: 15px;
    }
    .col1 {
        width: 20%;
    }
}

.col1 {
    width: 50%;
}

.col2 {
    width: 5%;
}

.col3 {
    text-align: right;
    padding-right: 10px;
    width: 10%;
}
.col4 {
    width: 10%;
}
.col5 {
    width: 10%;
}
